<div class="relative overflow-x-auto shadow-md rounded-2xl">
    <table class="w-full text-sm  text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    ID
                </th>
                <th scope="col" class="px-6 py-3">
                    Title
                </th>
                <th scope="col" class="px-6 py-3">
                    Description
                </th>
                <th scope="col" class="px-6 py-3">
                    is_home
                </th>
                <th scope="col" class="px-6 py-3">
                    is_active
                </th>
                <th scope="col" class="px-6 py-3">
                    Image
                </th>
                <th scope="col" class="px-6 py-3">
                    Category ID
                </th>
                <th scope="col" class="px-6 py-3">
                    Rayting
                </th>
                <th scope="col" class="px-6 py-3">
                    Edit
                </th>
            </tr>
        </thead>
        <tbody class="text-center">
            <% movies.forEach(movie => { %>
                <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                    <th class="px-6 py-4">
                        <%= movie.id %>
                    </th>
                    <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        <%= movie.title %>
                    </td>
                    <td class="px-6 py-4">
                        <%= movie.description.slice(0,3) + "..." %>
                    </td>
                    <td class="px-6 py-4">
                        <%= movie.is_home %>
                    </td>
                    <td class="px-6 py-4">
                        <%= movie.is_active%>
                    </td>
                    <td class="px-6 py-4">
                        <%= movie.image %>
                    </td>
                    <td class="px-6 py-4">
                        <%= movie.category_id %>
                    </td>
                    <td class="px-6 py-4">
                        <%= movie.rayting %>
                    </td>
                    <td class="px-6 py-4">
                        <a class="bg-gray-400 p-2 text-white rounded-lg hover:bg-gray-500" href="/admin/movie/<%= movie.id %>">Edit</a>
                        <a class="bg-red-600 p-2 rounded-lg text-white hover:bg-red-800" href="/admin/movie/delete/<%= movie.id %>">Delete</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
